@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


.masonry-item:nth-child(odd) {
  grid-row: span 2;
}
.masonry-item:nth-child(even) {
  grid-row: span 4;
}

.transaction-item + .transaction-item {
  border-top: 1px solid #e2e8f0;
}

.transaction-item:first-child {
  padding-top: 0;
}
.transaction-item:last-child {
  padding-bottom: 0;
}

@layer utilities{
  .navbar-container{ @apply flex flex-col shrink-0 h-screen px-4 py-8 bg-primary text-secondary}

  .masonry-layout {
    @apply grid grid-cols-2 mt-5 gap-4 h-full
  }
}